version: '3.9'

services:
  postgres:
    image: timescale/timescaledb:latest-pg15
    container_name: delinquency_db
    environment:
      POSTGRES_DB: bank_data
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  redis:
    image: redis:7-alpine
    container_name: delinquency_redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes --requirepass redis123
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.11.0
    container_name: delinquency_mlflow
    ports:
      - "5000:5000"
    environment:
      BACKEND_STORE_URI: postgresql://admin:admin123@postgres:5432/mlflow
      DEFAULT_ARTIFACT_ROOT: ./mlruns
    volumes:
      - mlflow_data:/mlflow
    command: >
      mlflow server
      --backend-store-uri postgresql://admin:admin123@postgres:5432/mlflow
      --default-artifact-root ./mlruns
      --host 0.0.0.0
      --port 5000
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
  redis_data:
  mlflow_data:
